services:
  service1:
    build: ./service1
    ports:
      - "8199:8199"
    depends_on:
      - service2
      - storage
  service2:
    build: ./service2
    depends_on:
      - storage
  storage:
    build: ./storage
    volumes:
      - ./storage:/storage
